#top-header {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 20px;
}

#top-header a {
    text-decoration: none;
    color: #000000;
}

.siteName {
    font-size: 30px;
    font-weight: bold;
}

#tools {
    text-align: right;
    vertical-align: top;
}